src/main/resources/sepa26.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://univ.fr/sepa26"
           xmlns="http://univ.fr/sepa26"
           elementFormDefault="qualified">

    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
            <xs:pattern value="[A-Za-z0-9 /?:().,'+-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Amount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IBANType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}[0-9]{2}[A-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BICType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Document" type="DocumentType"/>

    <xs:complexType name="DocumentType">
        <xs:sequence>
            <xs:element name="CstmrDrctDbtInitn" type="Sepa26Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Sepa26Type">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeaderType"/>
            <xs:element name="PmtInf" type="PaymentInformationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GroupHeaderType">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="xs:string"/>
            <xs:element name="NbOfTxs" type="xs:string"/>
            <xs:element name="CtrlSum" type="Amount"/>
            <xs:element name="InitgPty" minOccurs="0">
                <xs:complexType><xs:sequence><xs:element name="Nm" type="xs:string"/></xs:sequence></xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaymentInformationType">
        <xs:sequence>
            <xs:element name="PmtInfId" type="Max35Text"/>
            <xs:element name="NbOfTxs" type="xs:string" minOccurs="0"/>
            <xs:element name="CtrlSum" type="Amount" minOccurs="0"/>

            <xs:element name="PmtTpInf" minOccurs="0">
                <xs:complexType><xs:sequence><xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType>
            </xs:element>
            <xs:element name="ReqdColltnDt" type="xs:string" minOccurs="0"/>
            <xs:element name="Cdtr" minOccurs="0">
                <xs:complexType><xs:sequence><xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType>
            </xs:element>
            <xs:element name="CdtrAcct" minOccurs="0">
                <xs:complexType><xs:sequence><xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType>
            </xs:element>
            <xs:element name="CdtrAgt" minOccurs="0">
                <xs:complexType><xs:sequence><xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType>
            </xs:element>
            <xs:element name="CdtrSchmeId" minOccurs="0">
                <xs:complexType><xs:sequence><xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType>
            </xs:element>

            <xs:element name="DrctDbtTxInf" type="DrctDbtTxInfType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DrctDbtTxInfType">
        <xs:sequence>
            <xs:element name="PmtId" type="Max35Text"/>

            <xs:element name="InstdAmt">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="Amount">
                            <xs:attribute name="Ccy" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>

            <xs:element name="DrctDbtTx" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MndtRltdInf" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="MndtId" type="Max35Text"/>
                                    <xs:element name="DtOfSgntr" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="DbtrAgt" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FinInstnId">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="BIC" type="BICType"/>
                                    <xs:element name="Othr">
                                        <xs:complexType><xs:sequence><xs:element name="Id" type="Max35Text"/></xs:sequence></xs:complexType>
                                    </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Dbtr" minOccurs="0">
                <xs:complexType><xs:sequence><xs:element name="Nm" type="Max35Text"/></xs:sequence></xs:complexType>
            </xs:element>

            <xs:element name="DbtrAcct" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Id">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="IBAN" type="IBANType"/>
                                    <xs:element name="Othr" type="Max35Text"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="RmtInf" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>